<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root>
	<config>
		<!-- 是否多线程模式 -->
		<muti>true</muti>
		<!-- 多线程配置文件路径 -->
		<paramFile>config\param.xml</paramFile>
		<!-- tcp、udp or com -->
		<type>tcp</type>
		<!-- 断线后是否自动重连 -->
		<reconnect>true</reconnect>
	</config>

	<com>
		<!-- 串口号，注意：大小写敏感 -->
		<!-- 若为多线程模式，此节点留空（需要保留节点） -->
		<port>COM3</port>
		<!-- 波特率 -->
		<baudrate>9600</baudrate>
		<!-- 数据位 -->
		<databit>8</databit>
		<!-- 停止位 -->
		<stopbit>1</stopbit>
		<!-- 校验位 none=无；even=奇校验；odd=偶校验；space=校验位总为0；mark=校验位总为1 -->
		<!-- K的大课堂：所谓奇校验和偶校验，就是在发送一个byte时，在原有的8个二进制数之外再增加一位进行校验 -->
		<!-- 对于奇校验来说，就是调整增加的那位，使8位二进制数中值位1的数总数有奇数个，偶校验反之 -->
		<parity>none</parity>
	</com>

	<socket>
		<!-- 填写server或client -->
		<type>server</type>
		<!-- 若为多线程模式，此节点留空（需要保留节点） -->
		<ip>192.168.71.212</ip>
		<!-- 若为server，则此节点为监听端口；若为client，则此节点为连接服务器的端口 -->
		<port>10001</port>
		<!-- 是否长连接, true或者false -->
		<keepAlive>true</keepAlive>
	</socket>
	
	<!-- 目前send、reply、interchange节点只支持有1个 -->
	<!-- <send file="config\socket\tower.xml">
		<interval time="1000" protocol="real" />
	</send> -->
	
<!-- 铁塔配置 
	<reply file="config\socket\tower.xml">
		<response desc="real">
			<field>19,22</field>
			<value>00000191</value>
			<head>23646c686a7478787923</head>
			<tail></tail>
			<class>byte</class>
			<pro>real</pro>
			<quote />
		</response>
	</reply>
-->
<!-- 海信精密空调配置
	<reply file="config\com\Hisense-ac.xml">
		<response desc="查询模拟量">
			<field>8,9</field>
			<value>3432</value>
			<head>7E</head>
			<tail>0D</tail>
			<class>byte</class>
			<pro>analog</pro>
			<quote>
				<field name="adr">4,5</field> 
			</quote>
		</response>
		<response desc="查询开关量">
			<field>8,9</field>
			<value>3433</value>
			<head>7E</head>
			<tail>0D</tail>
			<class>byte</class>
			<pro>switch</pro>
			<quote>
				<field name="adr">4,5</field> 
			</quote>
		</response>
		<response desc="查询告警量">
			<field>8,9</field>
			<value>3434</value>
			<head>7E</head>
			<tail>0D</tail>
			<class>byte</class>
			<pro>alarm</pro>
			<quote>
				<field name="adr">4,5</field> 
			</quote>
		</response>
		<response desc="查询告警量">
			<field>8,9</field>
			<value>3437</value>
			<head>7E</head>
			<tail>0D</tail>
			<class>byte</class>
			<pro>setting</pro>
			<quote>
				<field name="adr">4,5</field> 
			</quote>
		</response>
		<response desc="遥控">
			<field>8,9</field>
			<value>3435</value>
			<head>7E</head>
			<tail>0D</tail>
			<class>byte</class>
			<pro>recv-check</pro>
			<quote>
				<field name="adr">4,5</field> 
			</quote>
		</response>
		<response desc="设置参数">
			<field>8,9</field>
			<value>3439</value>
			<head>7E</head>
			<tail>0D</tail>
			<class>byte</class>
			<pro>recv-check</pro>
			<quote>
				<field name="adr">4,5</field> 
			</quote>
		</response>
	</reply>
 -->
<!-- 	动环平台配置-->
	<reply file="config\socket\scada_C1.xml">
		<response desc="login-101">
			<field>19,22</field>
			<value>00000065</value>
			<head>23646C686A7878787923</head>
			<tail></tail>
			<class>byte</class>
			<pro>login-response</pro>
			<quote>
				<field name="serials_no">15,18</field> 
			</quote>
		</response>
		<response desc="heartbeat">
			<field>19,22</field>
			<value>000004b1</value>
			<head>23646C686A7878787923</head>
			<tail></tail>
			<class>byte</class>
			<pro>heartbeat-resp</pro>
			<quote>
				<field name="serials_no">15,18</field> 
			</quote>
		</response>
		<response desc="setAlarm-501">
			<field>19,22</field>
			<value>000001f5</value>
			<head>23646C686A7878787923</head>
			<tail></tail>
			<class>byte</class>
			<pro>setAlarm-resp</pro>
			<quote>
				<field name="serials_no">15,18</field> 
			</quote>
		</response>
	 
		<response desc="请求节点以下的整个树ID-201">
			<field>19,22</field>
			<value>000000c9</value>
			<head>23646C686A7878787923</head>
			<tail></tail>
			<class>byte</class>
			<pro>getNodes-resp</pro>
			<quote>
				<field name="serials_no">15,18</field> 
			</quote>
		</response>
		<response desc="请求数据属性-301">
			<field>19,22</field>
			<value>0000012d</value>
			<head>23646C686A7878787923</head>
			<tail></tail>
			<class>byte</class>
			<pro>getProperty-resp</pro>
			<quote>
				<field name="serials_no">15,18</field>-->	
				<!-- 平台请求详细信息的ID -->
			<field name="storageNode">27,30</field>
			</quote>
		</response>
		<response desc="请求实时数据-401">
			<field>19,22</field>
			<value>00000191</value>
			<head>23646C686A7878787923</head>
			<tail></tail>
			<class>byte</class>
			<pro>real-time</pro>
			<quote>
				<field name="serials_no">15,18</field> 
			</quote>
		</response>
	</reply> 
</root>